# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.dist/
build/
.eggs/
.mypy_cache/
.pytype/
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
ENV/
*.env
.env

# OS / editors ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml    
.streamlit/cache/
.streamlit/local_storage/
